@tailwind base;
@tailwind components;
@tailwind utilities;


body
{
    background-color: black;
    color: white;
}
.card{
    background-color: rgb(33, 32, 32);
}
.video{
    background-color: #100f0fcc;
}